[submodule "plugins/pelican-yaml-metadata"]
	path = plugins/pelican-yaml-metadata
	url = https://github.com/undecV/pelican-yaml-metadata.git
[submodule "themes/Flex"]
	path = themes/Flex
	url = https://github.com/undecV/Flex
[submodule "themes/Flex-v2"]
	path = themes/Flex-v2
	url = https://github.com/alexandrevicenzi/Flex
